.card{
    position: relative;
    width: 280px;
    a{
       .downBtn{
        position: absolute;
        cursor: pointer;
        background-color:#9370DB ;
        border: none;
        outline: none;
        border-radius: 0px 0px 10px 0px;
        padding: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
       }
    }
    img{
        width: 100%
        }
}