.home {
    padding:  0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .container {
  
        .my-masonry-grid {
            display: flex;
            width: auto;
            padding: 20px;
        }
    }
}