.selector{
    padding: 20px;
    .container{
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: auto;
        // scroll-behavior: smooth; 
        .item{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            border: 1px solid #9370DB;
            &.active{
                background-color: #9370DB;
                color: white;
                span{
                    color: white;
                }
            }
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;

            }
            span{
                font-weight: 500;
                font-size: 20px;
                color: black;
            }   
        }
    }
}