.my-masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;

  
  /* Masonry column */
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
    .no-cat-img{
      font-size: 30px;
      color: gray;
      text-align: center;
    }
  }

}