@mixin btnStyle {
    background-color: #9370DB;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #9370DB;
    color: white;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s linear;

    &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid #e6e6fa;
    }
}

@mixin tagStyle{
    transition: all 0.3s linear;
    border: 1px solid #9370DB;
    border-radius: 10px;
    &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid #e6e6fa;
    }
}

.addUpload {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        padding: 50px 0px;
        display: flex;
        justify-content: center;

        .form {
            display: flex;
            gap: 20px;
            width: 70%;
            justify-content: space-between;
            flex-wrap: wrap;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 10px;

            .left {
                flex: 1;
                height: 98%;
                border: 7px dashed lightgray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #dee2e6;

                label {
                    color: gray;
                    font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                   width: 100%;
                   height: 100%;
                   text-align: center;
                }
                .icon-upload{
                    color: gray;
                    font-size: 30px;
                    position: absolute;
                    bottom: 230px;
                }
                .close{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 30px;
                    cursor: pointer;
                    background-color:black;
                    color: white;
                    border-radius: 50%;

                }
                .uploadedFile{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }
            }

            .right {
                flex: 1;
                display: flex;
                padding: 20px;
                flex-direction: column;
                gap: 20px;

                .rItem {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    label {
                        font-size: 20px;
                        color: #adb5bd;
                        font-weight: 500;
                    }

                    input {
                        padding: 20px;
                        border: 1px solid #E6E6FA;
                        outline: none;

                        &:focus {
                            border: 1px solid #9370DB;
                        }
                    }
                    
                    .tags{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .tag{
                          padding: 10px 20px;
                         background-color: #9370DB;
                         color: white;
                         cursor: pointer;
                         @include tagStyle();
                         
                        }
                     }

                    select {
                        padding: 10px;
                        outline: none;
                        font-size: 17px;
                        border: 1px solid #e6e6fa;

                        &:focus {
                            border: 1px solid #9370DB;
                        }

                        option {
                            outline: none;
                            border: 1px solid #e6e6fa;
                            font-size: 17px;
                        }
                    }

                    button {
                        @include btnStyle();
                        width: max-content;

                    }
                }

                button {
                    @include btnStyle();
                    &.currentlyUploading{
                        background-color: gray;
                        color: white;
                    }
                }
                .errorOccured{
                    color: red;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }
}